<div>

<h1>Starters</h1>
<% @starters.each do |dish| %>
<form class="form" action="index.html" method="post">
  <%= dish.name %> $<%= dish.price %>
  <input type="button" name="addtoorder" id="addtoorder" value="Add to Order" />
  <br />
  <% end %>
</form>

<h1>Main Courses</h1>
<% @main_courses.each do |dish| %>
<form class="form" action="index.html" method="post">
  <%= dish.name %> $<%= dish.price %>
  <input type="button" name="addtoorder" id="addtoorder" value="Add to Order" />
  <br />
  <% end %>
</form>

<h1>Desserts</h1>
<% @desserts.each do |dish| %>
<form class="form" action="index.html" method="post">
  <%= dish.name %> $<%= dish.price %>
  <input type="button" name="addtoorder" id="addtoorder" value="Add to Order" />
  <br />
  <% end %>
</form>

</div>

<br/>

<form class="form" action="index.html" method="post">
  <input type="button" name="addto" id="addto" value="CHECKOUT" />
</form>
